@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-slide {
  width: 100px !important;
}

.slick-slide > div {
  display: flex;
  justify-content: center;
}

.slick-slide .flex {
  max-width: 150px;
} */
